extends layout

block content
  div(style='height:100%')#chat-app
  script(src='/js/bundle.js')
  script(src='/js/react/react.min.js')    
  script(src='/js/react-bootstrap/react-bootstrap.min.js')
  script(src='/js/socket.io-client/socket.io.js')
